$color-white: #F2F2F2;
$color-black: #050A0D;

$color-blue-dark: #011826;
$color-blue-regular: #023859;
$color-blue-light: #04ADBF;

$primary-color-light: #051026;
$primary-color-lighter: #030a17;


$amarelo: yellow;