$color-white: #ffffff;
$color-black: #050A0D;

$color-blue-dark: #011826;
$color-blue-regular: #023859;
$color-blue-light: #04ADBF;

$color-gray-dark: #202020;
$color-gray-regular: #726f6f;
$color-gray-light: #00000029;

