

$color-white: #ffffff;
$color-black: #000000;
 
$primary-color-regular: $color-black;
$primary-color-light: #051026;
$primary-color-lighter: #030a17;
 
$secondary-color-darker: #707070;
$secondary-color-dark: #959595;
$secondary-color-regular: #a5a5a5;
$secondary-color-light: #eeecec;
$secondary-color-lighter: #fafafa;
 
$tertiary-color: $color-white;
 
$alert-red: #e71c4c;
 
$info-orange: #f0b922;
$success-green: #00ff00;