.footer{
    background-color: $color-blue-dark;
    padding-top: 5em;
    color: $color-gray-regular;
    opacity: 1;

    &__header{
        @media (min-width: 1010px){
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.8em;
        }
    }

    &__logo{
        display: block;
        width: 12em;
        height: 65px;
        opacity: 0.68;
        margin: auto;

        @media (min-width: 768px){
            
        }
    
        @media (min-width: 1010px){
            margin: 0;
            padding: 1em;
        }
    }

    &__title{
        width: 12em;
        font-family: 'Montserrat';
        font-weight: 200;
        font-size: 1.3em;
        letter-spacing: 2.6px;
        text-shadow: $color-gray-dark 0 3px 6px;
        margin: auto;

        &-negrito{
            font-weight: 500;
            padding: 0;
        }

        @media (min-width: 768px){
            
        }
    
        @media (min-width: 1010px){
            margin: 0;
            padding: 0;
        }
    }

    &__description{
        margin: auto;
        margin-top: 38px;
        width: 85%;
        height: 10em;
        text-align: center;
        font-size: .65em;
        font-family: 'Montserrat';
        font-weight: 500;
        line-height: 1.8em;
    
        @media (min-width: 1010px){
            margin: 0 auto;
            font-size: .8em;
            width: 55%;
        }
    }
}