.footer{
    background-color: $color-blue-dark;
    padding-top: 5em;
    color: $color-gray-regular;
    opacity: 1;
    // padding-top: 122px;

    &__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__logo{
        display: inline-block;
        width: 11em;
        height: 65px;
        opacity: 0.68;
        // width: 233px;
        // margin-bottom: 60px;
    }

    &__title{
        width: 12em;
        display: inline-block;
        box-sizing: content-box;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 200;
        font-size: 1.3em;
        letter-spacing: 2.6px;
        text-shadow: $color-gray-dark 0 3px 6px;
        // padding-left: 10px;
        // height: 1.4em;
        // margin-bottom: 38px;
        &-negrito{
            font-weight: 400;
            padding: 0;
        }
    }

    &__description{
        margin: auto;
        margin-top: 38px;
        width: 58em;
        height: 98px;
        text-align: center;
        font-size: 15px;
        line-height: 27px;
        // padding-bottom: 50px;
        // margin: 0 328px;
    }

}