.header{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: $color-blue-dark;

    &__logo{
        margin: auto;
        box-sizing: content-box;
        padding-top: 32.35px;
        padding-bottom: 14px;
        width: 247px;
        height: 51px;
        background: transparent url('img/valtech-logo-vector.png') 0% 0% no-repeat padding-box;
        opacity: 0.68;
    }

    &__title{
        display: flex;
        box-sizing: content-box;
        justify-content: center;
        padding-bottom: 29px;
        font-size: 28px;
        letter-spacing: 3.36px;
        text-shadow: $color-gray-dark 0 3px 6px;
        font-weight: 200;
        color: $color-white;
        &-negrito{
            font-weight: bold;
            padding: 0;
        }
    }

    &__nav{
        background-color: $color-white;
        border: $color-gray-dark;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 56px;
        
        .nav__ul{
            letter-spacing: 2.3px;
            opacity: 1;
            width: 647px;
            height: 56px;

            &__li{
            padding: 7px 15px;
            display: inline-block;
            font-size: 23px;
            letter-spacing: 2.3px;
            color: $color-gray-regular;
            margin: 0;

                &-focus{
                    color: $color-white;
                    background: $color-blue-dark;
                }
                &:hover{
                    color: $color-white;
                    background: $color-blue-dark;
                }
            }  
        }
    }

    
}
