.main{
    background: $color-blue-dark;
    // background: transparent  url('/images/temas/surf/fullBanner.jpg') 0% 0% no-repeat padding-box;
    // background: transparent linear-gradient(129deg, $color-blue-regular 0%, $color-blue-dark 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    margin: auto;
}