.slider{
    padding-bottom: 4em;
    width: 100%;

    @media (min-width: 768px){
        padding-top: 6em;
        padding-bottom: 0;
    }
    
    &__tablet{
        @media (min-width: 768px){
            width: 93%;
            height: 93%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            border: 1px solid $color-gray-regular;
            margin: auto;
            padding: 1em 13.5px 1em 25.5px;
            opacity: 1;

            &::before{
                content: "";
                display: inline-block;
                width: 4px;
                height: 4px;
                border: 1px solid $color-white;
                border-radius: 50%;
                margin-right: 1em;
            }
        }

        @media (min-width: 1010px){
            width: 924px;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            border: 1px solid $color-gray-regular;
            margin: auto;
            padding: 1em 13.5px 1em 25.5px;
            opacity: 1;

            &::before{
                content: "";
                display: inline-block;
                width: 4px;
                height: 4px;
                border: 1px solid $color-white;
                border-radius: 50%;
            }
        }
    }

    &__imagem{
        width: 100%;
        height: 100%;
        opacity: 0.68;
        box-shadow: 0px 20px 50px $color-black;

        @media (min-width: 768px){
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 1em;
        }

        @media (min-width: 1010px){
            width: 814px;
            height: 458px;
            border-radius: 1em;
        }
    }

    &__botao{
        @media (min-width: 768px){
            width: 28px;
            height: 28px;
            border: 1px solid $color-white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1em;
            
            &::after{
                content: "";
                width: 12px;
                height: 11px;
                border: 1px solid $color-white;
                border-radius: 3px;
            }
        }

        @media (min-width: 1010px){
            width: 28px;
            height: 28px;
            border: 1px solid $color-white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &::after{
                content: "";
                width: 12px;
                height: 11px;
                border: 1px solid $color-white;
                border-radius: 3px;
            }
        }
    }

    &__botoes{
        @media (min-width: 1010px){
            position: relative;

            &::before{
                content: "<";
                width: 76px;
                height: 74px;
                padding: .2em .1em 0 0 ;
                border: 1px solid $color-gray-regular;
                color: $color-blue-light;
                background: $color-white;
                border-radius: 50%;
                font-family: 'Merriweather', serif;
                font-size: 40px;
                opacity: .75;
                box-sizing: border-box;
                position: absolute;
                z-index: 1;
                text-align: center;
                bottom: 35%;
                left: -5px;
            }

            &::after{
                content: ">";
                width: 76px;
                height: 74px;
                padding: .2em 0 0 .1em;
                border: 1px solid $color-gray-regular;
                color: $color-blue-light;
                background: $color-white;
                border-radius: 50%;
                font-family: 'Merriweather', serif;
                font-size: 40px;
                opacity: .75;
                box-sizing: border-box;
                position: absolute;
                z-index: 1;
                text-align: center;
                bottom: 35%;
                right: -5px;
            }
        }
    }

    &__description{
        display: none;

        @media (min-width: 768px){
            width: 814px;
            height: 59px;
            margin: 0 2em;
            margin-top: 24px;
            text-align: left;
            letter-spacing: 0.6px;
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 300;
            color: $color-gray-light;
            display: flex;
            flex-direction: column;

            &::after{
                content: "";
                height: 0;
                width: 265px;
                border: 1px solid $color-blue-regular;
                align-self: center;
                margin-top: 12.5px;
                opacity: 1;
            }
        }

        @media (min-width: 1010px){
            width: 814px;
            height: 59px;
            margin: auto;
            margin-top: 24px;
            text-align: left;
            letter-spacing: 0.6px;
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 300;
            color: $color-gray-light;
            display: flex;
            flex-direction: column;

            &::after{
                content: "";
                height: 0;
                width: 265px;
                border: 1px solid $color-blue-regular;
                align-self: center;
                margin-top: 12.5px;
                opacity: 1;
            }
        }
    }
}